.searchItemContainer {
    padding: 120px 0 50px 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


.searchProductWrapper {
    width: 100%;
    min-height: 80vh;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 350px);
}


.searchItemContainer h1 {
    width: 1090px;
}


.searchFilterbox {
    width: 1090px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 85px 0 0px 0;
}


.searchFilterbox select {
    width: 200px;
    font-size: 18px;
    padding: 4px 0px;
    outline: none;
}


.searchFilterbox button {
    padding: 8px 10px;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
}

.searchFilterbox .couponActive {
    background: #ff7d00;
    color: white;
    border: 1px solid black !important;
    color: rgb(255, 255, 255) !important;
    background-color: black !important;
}




