.cartItemContainer {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(1, 960px);
    gap: 30px;
    width: 960px;
    margin: auto;
    min-height: 100vh;
}





@media screen and (max-width: 570px) {
    .cartItemContainer {
        grid-template-columns: repeat(1, 240px);
        width: 100vw;
        justify-content: center;
    }
}

@media screen and (min-width: 570px) and (max-width: 965px) {

    .cartItemContainer {
        grid-template-columns: repeat(1, 95vw);
        width: 100vw;
        justify-content: center;
    }

}

@media screen and (min-width: 1921px) {}