.orderCardCon {
    display: flex;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    width: 654px;
    overflow: hidden;
    position: relative;
}

.dollar {
    position: absolute;
    font-size: 27px;
    color: #00db00;
    right: 25px;
    top: 10px;
}

.orderimageCon {
    width: 277px;
    height: 170px;

}

.orderimageCon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.orderRightSide {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 27px;
    justify-content: space-around;

}

.rightSplit {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    color: #545454;
}

.borderGuy {
    border-right: 1px solid black;
    padding: 0 25px 0 0;
}


.orderActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}


.orderActions button {
    border: none;
    background: black;
    color: white;
    padding: 7px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.ss;
}

.nextIcon {
    transition: 0.4s;
}

.orderActions button:hover .nextIcon {
    transform: rotate(360deg);

}

.orderActions button:hover {

    background-color: white;

    border: 1px solid black;
    color: black;

}

.shipped {
    background-color: rgb(29, 181, 15);
    color: white;
    cursor: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 7px 5px;
}





@media screen and (max-width: 665px) {

    .orderCardCon {
        width: 95vw;
        margin: auto;
    }


}