.statisticContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.stateCards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
}

.stateCards>div {
    width: calc(100% - 400px);
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: white;
    overflow: hidden;
}


.totalShipped {
    background-color: #17d15f;
    height: 100%;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}


.totalPending {
    background-color: #fabf2f;
    height: 100%;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}



.totalOrderCard {
    background-color: #353ce3;
    border-radius: 5px;

    height: 100%;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.stateIcon {
    font-size: 35px;
}


.pieChart {
    width: 400px !important;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
}


.statisticChart {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}


.everyOrderChart {
    width: 45%;
    padding: 20px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
}

.totalOrderChart {
    width: 45%;
    padding: 20px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;

}