.sliderCon {
    width: 1300px;
    margin: auto;
    padding: 80px 0;
}

.newArrivalWrapper {
    width: 1300px;
    margin: auto;
    padding: 80px 0;
}


.newTitle {
    border-left: 2px solid rgb(25, 14, 14);
    padding: 0 0 0 5px;
}

.arrivalSlider {
    width: 1300px !important;
    margin: auto;
    padding: 20px 0;
}

.productCard {

    width: 500px;
    height: 400px;
    cursor: pointer;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.126);
}


.newArrivalImg {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    overflow: hidden;
}

.productCard:hover .newArrivalImg {
    height: 300px;
}

.productCard .newArrivalImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.arrivalDetails {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 7px 0 0 10px;
}


.arrivalBuy {
    color: white;
    background-color: black;
    padding: 5px 30px;
    transition: 0.3s;
    border: 1px solid rgb(0, 0, 0);
}


.arrivalBuy:hover {
    box-shadow: inset 100px 0 white;
    color: black;
    border: 1px solid rgb(0, 0, 0);

}