.MyproductCard {
    width: 450px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 150px;

    border: 1px solid #0080ff00;
}


.MyproductCard:hover {
    border: 1px solid #0080ff;
}

.MyproductCard .my_product_details {
    padding: 0 0 0 10px;
}

.MyproductCard .product_image {
    min-width: 250px;
    min-height: 150px;
    width: 250px;
    height: 150px;
}

.MyproductCard .product_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.MyproductCard .my_product_details span {
    padding: 10px 0;
    border-radius: 8px;
    position: absolute;
    transform: rotate(315deg);
    background: #0080ff;
    color: white;
    left: -32px;
    top: 7px;
    width: 107px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.MyproductCard .product_action {
    position: absolute;
    right: 10px;
    bottom: -50px;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 15px;
    transition: 0.3s;
    overflow: hidden;
}

.MyproductCard:hover .product_action {
    bottom: 10px;
}

.MyproductCard .product_action button {
    cursor: pointer;
    border: none;
    background: red;
    color: white;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.productUpdateBox {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #0f0f0f47;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}


.productUpdateBox form {
    width: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: relative;

}

.productUpdateBox form>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.productUpdateBox form>div>p {
    font-weight: 700;
    font-size: 22px;
}

.productUpdateBox form>div input {
    width: 100%;
    font-size: 17px;
    padding: 4px 0 4px 4px;
    outline: none;
    border: 1.5px solid #000000;
    border-radius: 3px;
}

.productUpdateBox form>div input:focus {
    border: 1.5px solid #0080ff;
}

.productUpdateBox form button {
    width: 100%;
    border: none;
    font-size: 18px;
    color: white;
    background: #0460bc;
    padding: 8px 0;
    cursor: pointer;
}

.productUpdateBox form svg {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}



@media screen and (min-width: 12px) and (max-width: 1233px) {
    .MyproductCard {
        width: 100%;
    }
}
@media screen and (min-width: 1233px) and (max-width: 1695px) {
    .MyproductCard {
        width: 100%;
    }
}