.signupCon {
    padding: 80px 0;
}


.signupFormBox {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signupFormBox form {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    padding: 22px;
    border-radius: 10px;
}


.signupFormBox form input {
    width: 100%;
}

.signupFormBox form .photoUploadBox {
    background: #f0f0f0;
    padding: 20px 10px;
    width: calc(100% - 20px) !important;
}

.signupFormBox form>.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100% !important;
}

.signupFormBox form .brother {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.signupFormBox form button {
    width: 100%;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #5098cf;
}