.dashboardContainer {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.dashboarBar {
    width: 275px;
    height: 100vh;
    background-color: rgb(252, 252, 252);
}


.dashOutlet {
    width: calc(100% - 275px);
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    overflow-y: auto;
    padding: 0 30px;
}